body {
    background-color: #000d17; /* Replace with your desired color */
    margin: 0;
    padding: 0;
  }

  .heading12{
    
      font-family: "New Amsterdam", sans-serif;
      font-weight: 400;
      font-style: normal;
    
    
  }

  .wrapper {
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  
  .shadow {
    position: absolute;
    width: 200vw;
    height: 200vh;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: radial-gradient(circle at center, transparent, #000 20%);
  }
  
  
  